<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="mb-4 border-zinc-600" />
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
    Soy estudiante de Ingeniería en Computación en el Instituto Tecnológico de
    Costa Rica (TEC) y me encuentro en mi último año de carrera. Me apasiona el
    <strong class="text-zinc-100 font-medium">desarrollo de software</strong>
    y el
    <strong class="text-zinc-100 font-medium"
      >análisis detallado de problemas</strong
    >
    para encontrar soluciones
    <strong class="text-zinc-100 font-medium">
      eficientes e innovadoras.</strong
    >
    Disfruto
    <strong class="text-zinc-100 font-medium">trabajar en equipo</strong>,
    <strong class="text-zinc-100 font-medium">asumir nuevos retos</strong> y aplicar
    <strong class="text-zinc-100 font-medium"
      >buenas prácticas de programación
    </strong>
    en cada proyecto.

    <!-- 
    Estudiante de ingeniería en computación en el instituto tecnológico de Costa
    Rica, actualmente estoy en mi último año de carrera. Me considero una
    persona dispuesta en <strong class="text-zinc-100 font-medium"
      >aceptar retos</strong
    > , <strong class="text-zinc-100 font-medium">colaborar en equipo</strong>
    <strong class="text-zinc-100 font-medium"
      >y con deseos de seguir aprendiendo cosas nuevas cada día</strong
    >
    . A través de esta carrera, he podido expresar mis ideas y he podido aprender
    cosas nuevas, y de ver como trabaja los sistemas computacionales -->
  </p>
  <p class="leading-8 text-lg text-pretty text-zinc-400">
    Actualmente, estoy profundizando mis conocimientos en desarrollo en:
    <strong class="text-zinc-100 font-medium">metodologías ágiles</strong> ,
    <strong class="text-zinc-100 font-medium">desarrollo DevOps</strong>
    y trabajando cada día mis
    <strong class="text-zinc-100 font-medium">habilidades blandas</strong>
  </p>
</section>
