<section class="flex flex-row justify-between border-t border-zinc-700">
  <div class="flex justify-start items-center pt-4">
    <p class="text-lg text-zinc-400 mr-3">
      Creado por
      <a
        class="text-zinc-100 hover:underline"
        href="https://github.com/garaven/portfolio">@garaven</a
      >
    </p>
    <p class="text-lg text-zinc-400">
      Actualizado por
      <a
        class="text-zinc-100 hover:underline"
        href="https://github.com/Willvillegas">@Willvillegas</a
      >
    </p>
  </div>
  <div class="flex justify-end items-center pt-4">
    <span class="text-zinc-400">2025</span>
  </div>
</section>
